{% extends "HoaxCoreBundle::layout.html.twig" %}

{% block title %}{{  parent() }} | Recipes{% endblock %}

{% block body %}
<div class="pure-u-1-2">
    <h2>Recipes</h2>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
