{% extends "HoaxCoreBundle::layout.html.twig" %}

{% block title %}{{  parent() }} | Ingredients{% endblock %}

{% block body %}
    <p>Ingredients</p>
    <ul>
        {% for ingredient in ingredients %}
           <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
